body { 
  background: black;
  margin: 0%;
}
.footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
.progress-container {
  width: 100%;
  height: 5px;
  background: #000;
  border-bottom: 2px solid #fff;
}
.progress-bar {
  height: 7px;
  background: #24c6dc;
  width: 0%;
}
.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #0080ff;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fab:hover {
  cursor: pointer;
}
.fab img {
  width: 50%;
  transition: 0.5s;
}
.box {
  position: fixed;
  bottom: -30px;
  right: 120px;
  height: 0px;
  transition-delay: 0.5s;
  width: 80px;
  transition: 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item {
  overflow: hidden;
  border-radius: 0%;
  transition: 0.5s ease-in;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
}
.item1 {
  transition-delay: 0.5s;
  background: #0080ff;
  margin: 0px;
  border-radius: 24px 24px 0px 0px;
}
.item2 {
  transition-delay: 0.5s;
  background: #0080ff;
  margin: 0px;
}
.item3 {
  transition-delay: 0.5s;
  background: #0080ff;
  margin: 0px;
}
.item4 {
  transition-delay: 0.5s;
  background: #0080ff;
  margin: 0px;
}
.item5 {
  transition-delay: 0.5s;
  background: #0080ff;
  margin: 0px;
  width: 180px;
  height: 130px;
  margin-bottom: 50px;
  border-radius: 0px 0px 31px 24px;
}
.item:hover {
  cursor: pointer;
}
.item:hover img {
  transform: rotate(360deg);
  transition: all 0.5s;
}
.box-active {
  height: 360px;
}
.fab-active img {
  transform: rotate(315deg);
  width: 70%;
}
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}
details summary::-webkit-details-marker {
  display: none;
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  color: black;
  background: #24c6dc;
  text-align: center;
  font-size:  35px;
  font-family: serif;
  padding: 4px;
}
p {
  text-align: center;
  color: white;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  padding: 5%;
  margin: 10%;
}
details {
  text-align: center;
  color: white;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 5%;
  margin: 10%;
}